In [1]:
from pathlib import Path
import pandas as pd
import os
 
path = Path(r"C:\Users\czl99\Desktop\project\data\daily")
 
files = os.listdir(path)
txts = pd.DataFrame()
for file in files:
    position = path + os.sep + file
    print(position)
    data = pd.read_csv(position, sep='\\s+')
    txts = pd.concat([txts, data])
    
txts.to_csv('website.csv', encoding='gbk', index=False)

TypeError: unsupported operand type(s) for +: 'WindowsPath' and 'str'

In [2]:
website_duplicate = pd.read_csv('C:/Users/czl99/Desktop/project/website_Full Data.csv')

In [3]:
website_duplicate

                       domain  suffix               word
0              plavedtech.com     com         plavedtech
1       plaxis-stereo-rck.org     org  plaxis-stereo-rck
2           play-girls.online  online         play-girls
3           play-story.online  online         play-story
4                 play434.com     com            play434
...                       ...     ...                ...
102533        loudsurface.com     com        loudsurface
102534      louerduvernay.com     com      louerduvernay
102535         loufengyou.xyz     xyz         loufengyou
102536        loufystore.site    site         loufystore
102537     louies3dprints.com     com     louies3dprints

[102538 rows x 3 columns]

In [4]:
website = website_duplicate.drop_duplicates(keep='first', inplace= False)

In [5]:
dataset = website.word
dataset[0]

'plavedtech'

In [6]:
company = pd.read_csv('C:/Users/czl99/Desktop/project/Company.csv')

In [7]:
company

,Company Name,URI
0,BEXVILLE LIMITED,http://business.data.gov.uk/id/company/01196610
1,BELVOIRTEX LIMITED,http://business.data.gov.uk/id/company/01335906
2,BABY DAYS LIMITED,http://business.data.gov.uk/id/company/01858240
3,B.W.R. (TRANSPORT) LTD.,http://business.data.gov.uk/id/company/02378266
4,B.J. ELECTRICAL WHOLESALERS LIMITED,http://business.data.gov.uk/id/company/01672367
...,...,...
5112743,PTH ENTERPRISES LIMITED,http://business.data.gov.uk/id/company/12352906
5112744,PWLLHELI AMUSEMENTS LIMITED,http://business.data.gov.uk/id/company/01033109
5112745,PURITECH (UK) LTD,http://business.data.gov.uk/id/company/07606457
5112746,METAL SURGERY (WESSEX) LIMITED,http://business.data.gov.uk/id/company/00991216
5112747,ZUUS SPORTS LIMITED,http://business.data.gov.uk/id/company/09255373

In [13]:
import string
def main():
    f = open("test.txt","r",encoding = 'utf-8')
    list1 = []
    words = []
    for line in f.readlines():
        line = line.strip('\n')
        line = line.strip(string.digits)
        line = line.strip(string.punctuation)
        line = line.rstrip(string.punctuation)
        for word in line.split():
            words.append(word)
        print(words)
        f.close()
main()

['play', 'girl']
['play', 'girl', 'playstation']
['play', 'girl', 'playstation', 'company']
['play', 'girl', 'playstation', 'company', 'google']

In [1]:
def cutLongNameFun(self,s):
    words = open("test.txt").read().split()
    wordcost = dict((k,log(i+1)*log(len(words))) for i,k in enumerate(words))
    maxword = max(len(x) for x in words)
    def infer_spaces(s):
        def best_match(i)
        candidates = emumerate(reversed(cost[max(0,i-maxword):i]))
        return min((c + wordcost.get(s[i-k-1:i],9e999),k+1)for k,c in candidates)
    cost = [0]
    for i in range (1,len(s)+1):
        c,k = best_match(i)
        cost.append(c)
        out = []
        i = len(s)
        while i>0:
            c,k = best_match(i)
            assert c == cost[i]
            out.append(s,[i-k;i])
            i -= k
            return "".join(reversed(out))
    s = "thumbgreenappleactiveassignmentweeklymetaphor"
    print(infer_spaces(s))

SyntaxError: invalid syntax (2616394789.py, line 6)

In [40]:
import math

words = open("test.txt").read().split()
wordcost = dict((k,math.log(i+1)*math.log(len(words))) for i,k in enumerate(words))
maxword = max(len(x) for x in words)

def infer_spaces(s):
    def best_match(i):
            candidates = enumerate(reversed(cost[max(0,i-maxword):i]))
            return min((c + wordcost.get(s[i-k-1:i],9e999),k+1)for k,c in candidates)
    cost = [0]
    for i in range (1,len(s)+1):
        c,k = best_match(i)
        cost.append(c)
        out = []
        i = len(s)
        while i>0:
            c,k = best_match(i)
            assert c == cost[i]
            out.append(s[i-k:i])
            i -= k
            return "".join(reversed(out))
s = "thumbgreenappleactiveassignmentweeklymetaphor"
#print("111")
print(infer_spaces(s))

ValueError: min() arg is an empty sequence

In [58]:
website_duplicate = pd.read_csv('C:/Users/czl99/Desktop/project/website_test.csv')
website = website_duplicate.drop_duplicates(keep='first', inplace= False)

In [59]:
website

                   domain  word
0                0.claims   NaN
1              0.training   NaN
2           000100110.com   NaN
3           0001stage.org   NaN
4           0002704.space   NaN
..                    ...   ...
994    1rightchoice.store   NaN
995             1sato.com   NaN
996            1sepet.com   NaN
997       1server-bnh.com   NaN
998  1socialsolutions.com   NaN

[999 rows x 2 columns]

In [60]:
def substrings_in_set(s, words):
    if s in words:
        yield [s]
    for i in range(1, len(s)):
        if s[:i] not in words:
            continue
        for rest in substrings_in_set(s[i:], words):
            yield [s[:i]] + rest

In [61]:
# Assuming Linux. Word list may also be at /usr/dict/words. 
# If not on Linux, grab yourself an enlish word list and insert here:
words = set(x.strip().lower() for x in open("word.txt").readlines())

# The above english dictionary for some reason lists all single letters as words.
# Remove all except "i" and "u" (remember a string is an iterable, which means
# that set("abc") == set(["a", "b", "c"])).
words -= set("bcdefghjklmnopqrstvwxyz")

# If there are more words we don't like, we remove them like this:
words -= set(("ex", "rs", "ra", "frobnicate"))

# We may also add words that we do want to recognize. Now the domain name
# slartibartfast4ever.co.uk will be properly counted, for instance.
words |= set(("4", "2", "slartibartfast"))

In [63]:
count = {}
no_match = []
domains = website.domain

Note=open('x.txt',mode='w')
print(len(domains))
for domain in domains:
    # Extract the part in front of the first ".", and make it lower case
    name = domain.partition(".")[0].lower()
    found = set()
    for split in substrings_in_set(name, words):
        found |= set(split)
    found_str = str(found)
    Note.write(found_str + '\n') #\n 换行符

999

In [ ]:
count = {}
no_match = []
domains = website.domain

# Assume domains is the list of domain names ["examplecartrading.com", ...]
for domain in domains:
    # Extract the part in front of the first ".", and make it lower case
    name = domain.partition(".")[0].lower()
    found = set()
    for split in substrings_in_set(name, words):
        found |= set(split)
    for word in found:
        count[word] = count.get(word, 0) + 1
    if not found:
        no_match.append(name)

print (count)
print ("No match found for:", no_match)